# Build folders
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code workspace settings
.vscode/

# Rider
.idea/

# NuGet packages
*.nupkg
packages/

# IIS Express
.vs/
